{% extends 'base.html.twig' %}

{% block title %}Gerecht index{% endblock %}

{% block body %}
    <h1>Gerecht index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gerecht</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gerecht in gerechts %}
            <tr>
                <td>{{ gerecht.id }}</td>
                <td>{{ gerecht.gerecht }}</td>
                <td>
                    <a href="{{ path('gerecht_show', {'id': gerecht.id}) }}">show</a>
                    <a href="{{ path('gerecht_edit', {'id': gerecht.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gerecht_new') }}">Create new</a>
{% endblock %}
