{% extends 'base.html.twig' %}

{% block title %}Tafel index{% endblock %}

{% block body %}
    <h1>Tafel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tafelnummer</th>
                <th>Max_personen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tafel in tafels %}
            <tr>
                <td>{{ tafel.id }}</td>
                <td>{{ tafel.tafelnummer }}</td>
                <td>{{ tafel.maxPersonen }}</td>
                <td>
                    <a href="{{ path('tafel_show', {'id': tafel.id}) }}">show</a>
                    <a href="{{ path('tafel_edit', {'id': tafel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tafel_new') }}">Create new</a>
{% endblock %}
