{% extends 'base.html.twig' %}

{% block title %}Reservering{% endblock %}

{% block body %}
    <h1>Reservering</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservering.id }}</td>
            </tr>
            <tr>
                <th>Aantal_personen</th>
                <td>{{ reservering.aantalPersonen }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ reservering.datum ? reservering.datum|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservering_index') }}">back to list</a>

    <a href="{{ path('reservering_edit', {'id': reservering.id}) }}">edit</a>

    {{ include('reservering/_delete_form.html.twig') }}
{% endblock %}
