{% extends 'base.html.twig' %}

{% block title %}Bestelling index{% endblock %}

{% block body %}
    <h1>Bestelling index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aantal</th>
                <th>Klant Naam</th>
                <th>Product</th>
                <th>Tafel</th>
                <th>Gerecht</th>
                <th>Staat klaar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bestelling in bestellings %}
            <tr>
                <td>{{ bestelling.id }}</td>
                <td>{{ bestelling.aantal }}</td>
                <td>{{ bestelling.reserveringId }}</td>
                <td>{{ bestelling.menuItemId }}</td>
                <td>{{ bestelling.reserveringId.tafelId }}</td>
                <td>{{ bestelling.menuitemId.subgerechtId.gerechtId }}</td>
                <td>{{ bestelling.staatKlaar ? 'Ja' : 'Nee' }}</td>
                <td>
                    <a href="{{ path('bestelling_show', {'id': bestelling.id}) }}">show</a>
                    <a href="{{ path('bestelling_edit', {'id': bestelling.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bestelling_new') }}">Create new</a>
{% endblock %}
