{% extends 'base.html.twig' %}

{% block title %}Bon index{% endblock %}

{% block body %}
    <h1>Bon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Klantnaam</th>
                <th>Datum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bon in bons %}
            <tr>
                <td>{{ bon.id }}</td>
                <td>{{ bon.reserveringId }}</td>
                <td>{{ bon.datum ? bon.datum|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('bon_show', {'id': bon.id}) }}">show</a>
                    <a href="{{ path('bon_pdf', {'id': bon.id}) }}">pdf</a>
                    <a href="{{ path('bon_edit', {'id': bon.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bon_new') }}">Create new</a>
{% endblock %}
